LeshLoanPortal/InterConnect/Web References/LeshLaonApi/LeshLoanAPI.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ExecuteDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="storedProcName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parameters" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ExecuteDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExecuteDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecuteNonQuery">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="storedProcName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parameters" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecuteNonQueryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ExecuteNonQueryResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Identifier" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginResult" type="tns:SystemUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SystemUser">
        <s:complexContent mixed="false">
          <s:extension base="tns:Entity">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RoleCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="IsActive" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="ResetPassword" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Entity">
        <s:complexContent mixed="false">
          <s:extension base="tns:Status">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="RecordId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CompanyCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CreatedBy" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ModifiedBy" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CreatedOn" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ModifiedOn" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Status">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="StatusCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StatusDesc" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="LogOut">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogOutResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LogOutResult" type="tns:Result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Result">
        <s:complexContent mixed="false">
          <s:extension base="tns:Status">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="LoanID" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RequestID" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ThirdPartYID" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="SaveClientDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="req" type="tns:ClientDetails" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ClientDetails">
        <s:complexContent mixed="false">
          <s:extension base="tns:Entity">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ClientNo" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ClientName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ClientAddress" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ClientPhoneNumber" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Referee" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RefrereePhoneNo" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Gender" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="IDType" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="IDNumber" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="IDPhoto" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ClientPhoto" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ClientEmail" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ClientPassword" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DOB" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="BusinessLoc" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Occupation" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="NoOfBeneficiaries" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="EducLevel" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MonthlyIncome" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="SaveClientDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveClientDetailsResult" type="tns:Result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveAdditionalClientDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="req" type="tns:ClientDetails" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveAdditionalClientDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveAdditionalClientDetailsResult" type="tns:Result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveSystemUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="tns:SystemUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveSystemUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveSystemUserResult" type="tns:Result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveSystemSetting">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="req" type="tns:SystemSetting" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SystemSetting">
        <s:complexContent mixed="false">
          <s:extension base="tns:Entity">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="SettingName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SettingCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SettingValue" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="SaveSystemSettingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveSystemSettingResult" type="tns:Result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveLoanDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="req" type="tns:LoanDetails" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="LoanDetails">
        <s:complexContent mixed="false">
          <s:extension base="tns:Entity">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ClientID" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="LoanNo" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="LoanAmount" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="LoanDesc" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="LoanDate" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="InterestRate" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ApprovedAmount" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="LastLoanAmount" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CurrentDebt" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Organization" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MonthsToPayIn" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="EasyPaidAmountPerMonth" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Approved" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="AgreeToLoanAggreement" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Model" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Make" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SerialNumber" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="EstimatedPrice" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ImageProof" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Observations" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="SaveLoanDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveLoanDetailsResult" type="tns:Result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetClientDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BankCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ClientID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetClientDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetClientDetailsResult" type="tns:ArrayOfClientDetails" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfClientDetails">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ClientDetails" nillable="true" type="tns:ClientDetails" />
        </s:sequence>
      </s:complexType>
      <s:element name="ResetPassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Reset" type="tns:SystemUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ResetPasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ResetPasswordResult" type="tns:Result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveReceipt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="recp" type="tns:Receipt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Receipt">
        <s:complexContent mixed="false">
          <s:extension base="tns:Entity">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ReceiptNumber" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="LoanNumber" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ClientID" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PaymentType" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PaymentDate" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CurrencyCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ReceiptAmount" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Remarks" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="SaveReceiptResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveReceiptResult" type="tns:Result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveInjection">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Inj" type="tns:Injection" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Injection">
        <s:complexContent mixed="false">
          <s:extension base="tns:Entity">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="InjectionNumber" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="InjectorName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Amount" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="InjectionDate" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PhoneNo" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RepaymentDate" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RepaymentAmount" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="InjectionDesc" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="InjectionType" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="SaveInjectionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveInjectionResult" type="tns:Result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveExpense">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Exp" type="tns:Expense" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Expense">
        <s:complexContent mixed="false">
          <s:extension base="tns:Entity">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ExpenseID" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Amount" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ExpenseDate" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ReceiptNumber" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="SaveExpenseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveExpenseResult" type="tns:Result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveIncome">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Inco" type="tns:Income" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Income">
        <s:complexContent mixed="false">
          <s:extension base="tns:Entity">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="IncomeID" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Amount" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="IncomeDate" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="SaveIncomeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveIncomeResult" type="tns:Result" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ExecuteDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:ExecuteDataSet" />
  </wsdl:message>
  <wsdl:message name="ExecuteDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:ExecuteDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="ExecuteNonQuerySoapIn">
    <wsdl:part name="parameters" element="tns:ExecuteNonQuery" />
  </wsdl:message>
  <wsdl:message name="ExecuteNonQuerySoapOut">
    <wsdl:part name="parameters" element="tns:ExecuteNonQueryResponse" />
  </wsdl:message>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="LogOutSoapIn">
    <wsdl:part name="parameters" element="tns:LogOut" />
  </wsdl:message>
  <wsdl:message name="LogOutSoapOut">
    <wsdl:part name="parameters" element="tns:LogOutResponse" />
  </wsdl:message>
  <wsdl:message name="SaveClientDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:SaveClientDetails" />
  </wsdl:message>
  <wsdl:message name="SaveClientDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:SaveClientDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="SaveAdditionalClientDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:SaveAdditionalClientDetails" />
  </wsdl:message>
  <wsdl:message name="SaveAdditionalClientDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:SaveAdditionalClientDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="SaveSystemUserSoapIn">
    <wsdl:part name="parameters" element="tns:SaveSystemUser" />
  </wsdl:message>
  <wsdl:message name="SaveSystemUserSoapOut">
    <wsdl:part name="parameters" element="tns:SaveSystemUserResponse" />
  </wsdl:message>
  <wsdl:message name="SaveSystemSettingSoapIn">
    <wsdl:part name="parameters" element="tns:SaveSystemSetting" />
  </wsdl:message>
  <wsdl:message name="SaveSystemSettingSoapOut">
    <wsdl:part name="parameters" element="tns:SaveSystemSettingResponse" />
  </wsdl:message>
  <wsdl:message name="SaveLoanDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:SaveLoanDetails" />
  </wsdl:message>
  <wsdl:message name="SaveLoanDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:SaveLoanDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="GetClientDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetClientDetails" />
  </wsdl:message>
  <wsdl:message name="GetClientDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetClientDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="ResetPasswordSoapIn">
    <wsdl:part name="parameters" element="tns:ResetPassword" />
  </wsdl:message>
  <wsdl:message name="ResetPasswordSoapOut">
    <wsdl:part name="parameters" element="tns:ResetPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="SaveReceiptSoapIn">
    <wsdl:part name="parameters" element="tns:SaveReceipt" />
  </wsdl:message>
  <wsdl:message name="SaveReceiptSoapOut">
    <wsdl:part name="parameters" element="tns:SaveReceiptResponse" />
  </wsdl:message>
  <wsdl:message name="SaveInjectionSoapIn">
    <wsdl:part name="parameters" element="tns:SaveInjection" />
  </wsdl:message>
  <wsdl:message name="SaveInjectionSoapOut">
    <wsdl:part name="parameters" element="tns:SaveInjectionResponse" />
  </wsdl:message>
  <wsdl:message name="SaveExpenseSoapIn">
    <wsdl:part name="parameters" element="tns:SaveExpense" />
  </wsdl:message>
  <wsdl:message name="SaveExpenseSoapOut">
    <wsdl:part name="parameters" element="tns:SaveExpenseResponse" />
  </wsdl:message>
  <wsdl:message name="SaveIncomeSoapIn">
    <wsdl:part name="parameters" element="tns:SaveIncome" />
  </wsdl:message>
  <wsdl:message name="SaveIncomeSoapOut">
    <wsdl:part name="parameters" element="tns:SaveIncomeResponse" />
  </wsdl:message>
  <wsdl:portType name="LeshLoanAPISoap">
    <wsdl:operation name="ExecuteDataSet">
      <wsdl:input message="tns:ExecuteDataSetSoapIn" />
      <wsdl:output message="tns:ExecuteDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteNonQuery">
      <wsdl:input message="tns:ExecuteNonQuerySoapIn" />
      <wsdl:output message="tns:ExecuteNonQuerySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LogOut">
      <wsdl:input message="tns:LogOutSoapIn" />
      <wsdl:output message="tns:LogOutSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveClientDetails">
      <wsdl:input message="tns:SaveClientDetailsSoapIn" />
      <wsdl:output message="tns:SaveClientDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveAdditionalClientDetails">
      <wsdl:input message="tns:SaveAdditionalClientDetailsSoapIn" />
      <wsdl:output message="tns:SaveAdditionalClientDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveSystemUser">
      <wsdl:input message="tns:SaveSystemUserSoapIn" />
      <wsdl:output message="tns:SaveSystemUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveSystemSetting">
      <wsdl:input message="tns:SaveSystemSettingSoapIn" />
      <wsdl:output message="tns:SaveSystemSettingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveLoanDetails">
      <wsdl:input message="tns:SaveLoanDetailsSoapIn" />
      <wsdl:output message="tns:SaveLoanDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetClientDetails">
      <wsdl:input message="tns:GetClientDetailsSoapIn" />
      <wsdl:output message="tns:GetClientDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ResetPassword">
      <wsdl:input message="tns:ResetPasswordSoapIn" />
      <wsdl:output message="tns:ResetPasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveReceipt">
      <wsdl:input message="tns:SaveReceiptSoapIn" />
      <wsdl:output message="tns:SaveReceiptSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveInjection">
      <wsdl:input message="tns:SaveInjectionSoapIn" />
      <wsdl:output message="tns:SaveInjectionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveExpense">
      <wsdl:input message="tns:SaveExpenseSoapIn" />
      <wsdl:output message="tns:SaveExpenseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveIncome">
      <wsdl:input message="tns:SaveIncomeSoapIn" />
      <wsdl:output message="tns:SaveIncomeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LeshLoanAPISoap" type="tns:LeshLoanAPISoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExecuteDataSet">
      <soap:operation soapAction="http://tempuri.org/ExecuteDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteNonQuery">
      <soap:operation soapAction="http://tempuri.org/ExecuteNonQuery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogOut">
      <soap:operation soapAction="http://tempuri.org/LogOut" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveClientDetails">
      <soap:operation soapAction="http://tempuri.org/SaveClientDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveAdditionalClientDetails">
      <soap:operation soapAction="http://tempuri.org/SaveAdditionalClientDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveSystemUser">
      <soap:operation soapAction="http://tempuri.org/SaveSystemUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveSystemSetting">
      <soap:operation soapAction="http://tempuri.org/SaveSystemSetting" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveLoanDetails">
      <soap:operation soapAction="http://tempuri.org/SaveLoanDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientDetails">
      <soap:operation soapAction="http://tempuri.org/GetClientDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetPassword">
      <soap:operation soapAction="http://tempuri.org/ResetPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveReceipt">
      <soap:operation soapAction="http://tempuri.org/SaveReceipt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveInjection">
      <soap:operation soapAction="http://tempuri.org/SaveInjection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveExpense">
      <soap:operation soapAction="http://tempuri.org/SaveExpense" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveIncome">
      <soap:operation soapAction="http://tempuri.org/SaveIncome" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LeshLoanAPISoap12" type="tns:LeshLoanAPISoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExecuteDataSet">
      <soap12:operation soapAction="http://tempuri.org/ExecuteDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteNonQuery">
      <soap12:operation soapAction="http://tempuri.org/ExecuteNonQuery" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogOut">
      <soap12:operation soapAction="http://tempuri.org/LogOut" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveClientDetails">
      <soap12:operation soapAction="http://tempuri.org/SaveClientDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveAdditionalClientDetails">
      <soap12:operation soapAction="http://tempuri.org/SaveAdditionalClientDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveSystemUser">
      <soap12:operation soapAction="http://tempuri.org/SaveSystemUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveSystemSetting">
      <soap12:operation soapAction="http://tempuri.org/SaveSystemSetting" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveLoanDetails">
      <soap12:operation soapAction="http://tempuri.org/SaveLoanDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientDetails">
      <soap12:operation soapAction="http://tempuri.org/GetClientDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetPassword">
      <soap12:operation soapAction="http://tempuri.org/ResetPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveReceipt">
      <soap12:operation soapAction="http://tempuri.org/SaveReceipt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveInjection">
      <soap12:operation soapAction="http://tempuri.org/SaveInjection" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveExpense">
      <soap12:operation soapAction="http://tempuri.org/SaveExpense" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveIncome">
      <soap12:operation soapAction="http://tempuri.org/SaveIncome" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LeshLoanAPI">
    <wsdl:port name="LeshLoanAPISoap" binding="tns:LeshLoanAPISoap">
      <soap:address location="http://leontymo-001-site2.itempurl.com/LeshLoanAPI.asmx" />
    </wsdl:port>
    <wsdl:port name="LeshLoanAPISoap12" binding="tns:LeshLoanAPISoap12">
      <soap12:address location="http://leontymo-001-site2.itempurl.com/LeshLoanAPI.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>